body {
    background-color: #fbfbfb;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    background-color: #FFB20E !important;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 60px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  .text-black:hover {
    color: white !important;  
  }