.buttonLoggin {
    color: white !important;
    background-color: #FFB20E !important;
    border-color: #FFB20E !important;
    border-radius: 14px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.line-with-text {
    display: flex;
    align-items: center;
  }
  
  .line {
    flex: 1;
    border-bottom: 1px solid #000; 
  }
  
  .text {
    padding: 0 10px;
  }
  